<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 <servlet>
    <servlet-name>servlet</servlet-name>
    <servlet-class>service.user_Selects1_Service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/service.user_Selects1_Service</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>service.user_Selects1_Service2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/service.user_Selects1_Service2</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>table_delete</servlet-name>
		<servlet-class>service.table_delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>table_delete</servlet-name>
		<url-pattern>/service.table_delete</url-pattern>
	</servlet-mapping>
 
 
 <servlet>
		<servlet-name>table_update</servlet-name>
		<servlet-class>service.table_update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>table_update</servlet-name>
		<url-pattern>/service.table_update</url-pattern>
	</servlet-mapping>
	
	
	 <servlet>
		<servlet-name>table_insert</servlet-name>
		<servlet-class>service.table_insert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>table_insert</servlet-name>
		<url-pattern>/service.table_insert</url-pattern>
	</servlet-mapping>
	
	
	
	
	 <servlet>
		<servlet-name>admin_Selects_Service1</servlet-name>
		<servlet-class>service.admin_Selects_Service1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service1</servlet-name>
		<url-pattern>/service.admin_Selects_Service1</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>admin_Selects_Service2</servlet-name>
		<servlet-class>service.admin_Selects_Service2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service2</servlet-name>
		<url-pattern>/service.admin_Selects_Service2</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>admin_Selects_Service3</servlet-name>
		<servlet-class>service.admin_Selects_Service3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service3</servlet-name>
		<url-pattern>/service.admin_Selects_Service3</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>admin_Selects_Service4</servlet-name>
		<servlet-class>service.admin_Selects_Service4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service4</servlet-name>
		<url-pattern>/service.admin_Selects_Service4</url-pattern>
	</servlet-mapping>
	
		 <servlet>
		<servlet-name>admin_Selects_Service5</servlet-name>
		<servlet-class>service.admin_Selects_Service5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service5</servlet-name>
		<url-pattern>/service.admin_Selects_Service5</url-pattern>
		
	</servlet-mapping>
		 <servlet>
		<servlet-name>admin_Selects_Service6</servlet-name>
		<servlet-class>service.admin_Selects_Service6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service6</servlet-name>
		<url-pattern>/service.admin_Selects_Service6</url-pattern>
	</servlet-mapping>
	
	
		 <servlet>
		<servlet-name>admin_Selects_Service7</servlet-name>
		<servlet-class>service.admin_Selects_Service7</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service7</servlet-name>
		<url-pattern>/service.admin_Selects_Service7</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>admin_Selects_Service8</servlet-name>
		<servlet-class>service.admin_Selects_Service8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_Selects_Service8</servlet-name>
		<url-pattern>/service.admin_Selects_Service8</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>login_service</servlet-name>
		<servlet-class>service.login_service</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login_service</servlet-name>
		<url-pattern>/service.login_service</url-pattern>		
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>admin_show_service</servlet-name>
		<servlet-class>service.admin_show_service</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_show_service</servlet-name>
		<url-pattern>/service.admin_show_service</url-pattern>		
	</servlet-mapping>
</web-app>